@model EditScriptViewModel

@{
    ViewBag.Title = $"{Model.ThisScript.Title} - Doctrina";
}

<div class="container text-white">
    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="@Model.ThisScript.Id" />
        <input hidden asp-for="@Model.GroupId" />
        <input hidden asp-for="@Model.SectionId" />
        <div class="form-group">
            <label asp-for="@Model.ThisScript.Title"></label>
            <div class="col-12">
                <input asp-for="@Model.ThisScript.Title" class="input-text-custom w-100" />
            </div>
            <button asp-action="EditScript" asp-controller="Section" type="submit" class="btn btn-primary">Save</button>
            <button asp-action="DeleteScript" asp-controller="Section" type="submit" class="btn btn-primary">Delete</button>

        </div>
        <div>
            <button type="button"><i onclick="execCmd('bold')" class="fa fa-bold" aria-hidden="true"></i></button>
        </div>
        <iframe frameborder="0" 
                id="TextEditPlace" 
                name="textEditor" 
                class="col-12 bg-white" 
                src="@Url.Content(Model.ThisScript.WebRootPath)"
                height="800px">
        </iframe>

    </form>
</div>


@section Scripts
{
    <script src="~/js/SuperNovaTextEditor.js"></script>
}