@model SectionIndexViewModel

@{
    ViewBag.Title = $"{Model.CurrentSection.Name} - Doctrina";
}


<!-- Settings (invisible) container -->
<div id="GroupSettingsContainer" class="group-settings-container bg-dark">
    <button onclick="HideGroupSettings()">Close</button>
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" enctype="multipart/form-data">
                <input hidden asp-for="@Model.Group.Id" />
                <input hidden asp-for="@Model.CurrentSection.Id" />
                <label asp-for="@Model.SectionSettings.NewName"></label>
                <input asp-for="@Model.SectionSettings.NewName" class="input-text-custom" />
                <button asp-action="UpdateSettings" asp-controller="Section" type="submit" class="btn btn-primary">Update settings</button>
                <button asp-action="DeleteSection" asp-controller="Section" type="submit" class="btn btn-danger">Delete section</button>
            </form>
        </div>
    </div>
</div>

<div class="container text-white">
    <div class="row">
        <div class="col-12">
            <h3>@Model.Group.Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>@Model.CurrentSection.Name</h3>
            <a class="btn btn-link" onclick="ShowGroupSettings()">Settings</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Scripts
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Quizes
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Group.js"></script>
}