@model GroupViewModel

@{ 
    ViewBag.Title = Model.Group.Name + " - Doctrina";
}

<!-- Settings (invisible) container -->
    <div id="LayerDarker" class="layer-darker">
        <div id="GroupSettingsContainer" class="group-settings-container bg-gray50">
            <div class="d-flex bg-gray30" style="border-top-left-radius:3px; border-top-right-radius:3px;">
                <div class="mr-auto pl-3 p-1"><p class="m-0">Group settings</p></div>
                <div class="pr-3 p-1"> <a onclick="HideGroupSettings()"><i class="fas fa-times"></i></a></div>
            </div>
            <form method="POST" enctype="multipart/form-data" class="row mr-0 ml-0 p-0">
                <input hidden asp-for="@Model.Group.Id" />
                <div class="form-group col-12 pt-2">
                    <label asp-for="@Model.Settings.NewName"></label>
                    <input asp-for="@Model.Settings.NewName" class="input-text-custom form-control" />
                </div>
                <div class="col-6 p-0 m-0">
                    <button asp-action="UpdateSettings" asp-controller="Group" type="submit" class="btn btn-primary btn-sm w-100" style="border-radius: 0px 0px 0px 4px;">Update settings</button>
                </div>
                <div class="col-6 p-0 m-0">
                    <button asp-action="DeleteGroup" asp-controller="Group" type="submit" class="btn btn-danger btn-sm w-100" style="border-radius: 0px 0px 4px 0px;">Delete group</button>
                </div>
            </form>
        </div>
    </div>

<div class="container text-white">
    <div class="row">
        <div class="group-container mt-3 col-12">
            <h2>@Model.Group.Name</h2>
            <a class="btn btn-link" onclick="ShowGroupSettings()">Settings</a>
            <p>Admins:
            </p>
        </div>
        <div class="col-sm-12 mt-3 group-container">
            <h2>Members</h2>
            @foreach (var member in Model.Members)
            {
                <p>@member.FirstName @member.LastName</p>
            }
        </div>

        <div class="col-sm-12 mt-3 group-container">
            <h2>Sections:</h2>
            @if (Model.Sections.Any())
            {
                @foreach (var groupSection in Model.Sections)
                {
                    <a asp-action="Index" 
                       asp-controller="Section" 
                       asp-route-groupId="@Model.Group.Id" 
                       asp-route-sectionId="@groupSection.Id" class="btn btn-link">@groupSection.Name</a>
                }
            }
            else
            {
                <p>There are no sections right now. Wanna create one?</p>
            }

            <a asp-controller="Group" asp-action="CreateSection" asp-route-id="@Model.Group.Id" class="btn btn-light">+ New Section</a>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/js/Group.js"></script>
}