@model GroupViewModel

@{ 
    ViewBag.Title = Model.Group.Name + " - Doctrina";
}

<div class="container text-white">
    <div class="row">
        <div class="group-container mt-3 col-12">
            <h2>@Model.Group.Name</h2>
            <p>Admins:
            </p>
        </div>
        <div class="col-sm-12 mt-3 group-container">
            <h2>Members</h2>
            @foreach (var member in Model.Members)
            {
                <p>@member.FirstName @member.LastName</p>
            }
        </div>

        <div class="col-sm-12 mt-3 group-container">
            <h2>Sections:</h2>
            @if (Model.Sections.Any())
            {
                @foreach (var groupSection in Model.Sections)
                {
                    <a asp-action="Index" 
                       asp-controller="Section" 
                       asp-route-groupId="@Model.Group.Id" 
                       asp-route-sectionId="@groupSection.Id" class="btn btn-link">@groupSection.Name</a>
                }
            }
            else
            {
                <p>There are no sections right now. Wanna create one?</p>
            }

            <a asp-controller="Group" asp-action="CreateSection" asp-route-id="@Model.Group.Id" class="btn btn-light">+ New Section</a>
        </div>

    </div>
</div>