@inject SignInManager<DoctrinaUser> signInManager;
@inject UserManager<DoctrinaUser> userManager;

@{
    var currentUser = await userManager.GetUserAsync(User);

    string photoPath = (currentUser.PhotoPath != null) ? currentUser.PhotoPath : "~/images/usernoimage.png";
}

<!DOCTYPE html>

<html>
<head>
    @RenderSection("Style", required: false)
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
    </environment>
    <link href="~/css/colorScheme.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray40">
        <div class="container">
            <a asp-action="Index" asp-controller="Home">
                <img id="navbar-logo" src="~/images/Doctrina Logo.png" />
            </a>
            <button class="navbar-toggler border-0" style="outline:0px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (signInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Profile" asp-route-userName="@User.Identity.Name">
                             <img asp-append-version="true" src="@photoPath" class="img-fluid bg-gray70 mr-2" style="height:20px; border-radius:5px; padding:1px; margin-top:-3px;"/>@currentUser.FirstName @currentUser.LastName
                            </a>
                        </li>
                        <li class="nav-item">
                            <form method="POST">
                                <button type="submit" asp-action="Logout" asp-controller="Account" class="btn btn-link btn-sm nav-link border-0"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log out</button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    @section Scripts
    {
        <script src="~/js/Layout.js"></script>
    }
</body>
</html>